@model ErrorReporting.Models.BugReport
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report Details</h2>

<ul>
    <p>
    @Html.LabelFor(m => m.Name)
    @Model.Name
    </p>
    <p>
    @Html.LabelFor(m => m.Severity)
    @Model.Severity
    </p>
    <p>
    @Html.LabelFor(m => m.OperatingSystemId)
    @Model.OperatingSystem.OperatingSystemName
    </p>
    <p> 
    @Html.LabelFor(m => m.BrowserId)
    @Model.Browser.BrowserName
    </p>
    <p>
    @Html.LabelFor(m => m.Description)
    @Model.Description
    </p>
    <p>
    @Html.LabelFor(m => m.Reproduction)
    @Model.Reproduction
    </p>
    <p>
    @Html.LabelFor(m => m.BugOccurrenceDate)
    @Model.BugOccurrenceDate
    </p>
    <p>
    @Html.LabelFor(m => m.SubmissionDate)
    @Model.SubmissionDate
    </p>
    <p>
    @Html.LabelFor(m => m.StatusId)
    @Model.Status.StatusName
    </p>

</ul>

<label>Set Report Status</label>

<div class="container">
    <div class="row">
        <div class="col-md-6">

@using (Html.BeginForm("InProgress", "BugReports"))
{
    <button type="submit" class="btn btn-primary" name="id" value=@Model.Id>In Progress</button>

}
            </div>

        <div class="col-md-6">
@using (Html.BeginForm("Resolved", "BugReports"))
{
    
    <button type="submit" class="btn btn-primary" name="id" value=@Model.Id>Resolved</button>

}
            </div>
        </div>
</div>



