@model ErrorReporting.Models.BugReport
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report Details</h2>
@using (Html.BeginForm("Edit", "BugReports"))
{ 
<ul>
    <p>
    @Html.LabelFor(m => m.Name)
    @Model.Name
    </p>
    <p>
    @Html.Label("Severity: ") <!--TODO Get rid of magic strings-->
    @Model.Severity
    </p>
    <p>
    @Html.Label("Operating System: ")
    @Model.OperatingSystem.OperatingSystemName
    </p>
    <p> 
    @Html.Label("Browser: ")
    @Model.Browser.BrowserName
    </p>
    <p>
    @Html.Label("Description: ")
    @Model.Description
    </p>
    <p>
    @Html.Label("Reproduction: ")
    @Model.Reproduction
    </p>
    <p>
    @Html.LabelFor(m => m.BugOccurrenceDate)
    @Model.BugOccurrenceDate
    </p>
    <p>
    @Html.LabelFor(m => m.SubmissionDate)
    @Model.SubmissionDate
    </p>

</ul>
<label>Set Report Status</label>
<button type="submit" class="btn btn-primary">In Progress</button> <!--TODO Wire up buttons to controller-->

}
