@model IEnumerable<ErrorReporting.Models.BugReport>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!Model.Any())
{
    <p>No reports yet.</p>
}
else
{
    <h2>Current Reports</h2>

    <table class="table table-bordered table-hover" id="reports">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>Submission Date</th>
                <th>Status</th>
                <th>Severity</th>
</tr>
        </thead>
        <tbody>
            @foreach (var report in Model)
            {
                <tr>
                    <td>@Html.ActionLink(report.Name, "Details", "BugReports", new { id = report.Id }, null)</td>
                    <td>@report.SubmissionDate</td>
                    <td>@report.StatusId</td>
                    <td>@report.Severity</td>
                </tr>
            }
        </tbody>
    </table>

}

@section scripts
{
    <script>
        $(document).ready(function ()
        {
            $("#reports").DataTable();            
        });
    </script>
}
