@model IEnumerable<ErrorReporting.Models.BugReport>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!Model.Any())
{
    <div class="blog-header">
        <div class="container">
            <h1 class="blog-title">No error reports submitted yet.</h1>
            <p class="lead blog-description">Guess the software is just that good......</p>
        </div>
    </div>
}
else
{
    <h2>Current Reports</h2>

    <table class="table table-bordered table-hover" id="reports">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m =>m.SubmissionDate)</th>
                <th>@Html.DisplayNameFor(m => m.Status)</th>
                <th>@Html.DisplayNameFor(m => m.Severity)</th>
</tr>
        </thead>
        <tbody>
            @foreach (var report in Model)
            {
                <tr>
                    <td>@Html.ActionLink(report.Name, "Details", "BugReports", new { id = report.Id }, null)</td>
                    <td>@report.SubmissionDate</td>
                    <td>@report.StatusId</td>
                    <td>@report.Severity</td>
                </tr>
            }
        </tbody>
    </table>

}

@section scripts
{
    <script>
        $(document).ready(function ()
        {
            $("#reports").DataTable();            
        });
    </script>
}
