@model ErrorReporting.Models.BugReport
@{
    ViewBag.Title = "BugSubmission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bug Submission Page</h2>

@using (@Html.BeginForm("Save", "Home"))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>   
                <div class="form-group">
                    @Html.LabelFor(m => m.ErrorMessage) @Html.Label("(if given)")
                    @Html.TextBoxFor(m => m.ErrorMessage, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description) @Html.Label("(see section 1)")
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Reproduction) @Html.Label("(see section 3)")
                    @Html.TextAreaFor(m => m.Reproduction, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Reproduction)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Severity) @Html.Label("(see section 2)")
                    @Html.TextBoxFor(m => m.Severity, new { @class = "form-control", @Value = 5 })
                    @Html.ValidationMessageFor(m => m.Severity)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OperatingSystemId)
                    @Html.DropDownListFor(m => m.OperatingSystemId, new SelectList(Model.OperatingSystemList, "Id", "OperatingSystemName"), "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OperatingSystemId)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BrowserId)
                    @Html.DropDownListFor(m => m.BrowserId, new SelectList(Model.BrowserList, "Id", "BrowserName"), "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BrowserId)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BugOccurrenceDate)
                    @Html.TextBoxFor(m => m.BugOccurrenceDate, "{0:d MMM YYYY}", new { @class = "form-control", @Value = @DateTime.Now.ToShortDateString() })
                    @Html.ValidationMessageFor(m => m.BugOccurrenceDate)
                </div>
                
                <!--Value control for form submissions fields not visible to user-->
                <div class="form-group">
                    @Html.TextBoxFor(m => m.StatusId, new { @class = "form-control", @Value = 1, style = "display: none;" })                   
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.SubmissionDate, "{0:d MMM YYYY}", new { @class = "form-control", @Value = @DateTime.Now.ToShortDateString(), style = "display: none;" })
                </div>
                
            </div>
        </div>
    </div>
     
    <button type="submit" class="btn btn-primary">Submit</button>
}

